@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  color: var(--foreground);

  background:
    radial-gradient(
      circle at top left,
      rgba(59,130,246,.15),
      transparent 35%
    ),
    radial-gradient(
      circle at top right,
      rgba(168,85,247,.15),
      transparent 35%
    ),
    var(--background);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}